<!DOCTYPE html>
<title>PLACE ODER</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/styles2.css')}}">
</head>
<body bgcolor="#DFA5CE">
    
    
    <div>
        
        <h3>CHOOSE YOUR FLAVOUR:</h3>
        <form method-"POST" action="/options" autocomplete="off">
            
                <select id="FLAVOURS" name="FLAVOURS">
                    <option disabled selected value >SELECT FLAVOURS</option>
                <option value="STRAWBERRY">STRAWBERRY</option>
                <option value="VANILLA">VANILLA</option>
                <option value="CHOCOLATE">CHOCOLATE</option>
                </select>

                <p>&nbsp;</p>
              <h3>CHOOSE SIZE:</h3>
                <select  id="SCOPS" name="SCOPS">
                    <option disabled selected value >CHOOSE SIZE</option>
                <option value="1">SMALL (1 SCOPS)</option>
                <option value="2">MEDIUM (2 SCOPS)</option>
                <option value="3">LARGE  (3 SCOPS)</option>
                </select>

                <p>&nbsp;</p>
                <h3>CHOOSE TOPPING (ONLY 4):</h3>
                SUGAR CRYSTALS
                <input type="checkbox" class="checkbox-round" >
                M&M's 
                <input type="checkbox" class="checkbox-round" >
                OREO
                <input type="checkbox" class="checkbox-round" >
                BROWNIES
                <input type="checkbox" class="checkbox-round" >
                CHOCOLATE SYRUP
                <input type="checkbox" class="checkbox-round" >
                CHOCOLATE CHIPS
                <input type="checkbox" class="checkbox-round" >
                <p>&nbsp;</p>

                <button class="button" type="submit" value="submit">PLACE ODER !</button>
                 
        </form>
    </div>
  
</body>